/* Autoalojar fonts: copiar .woff2 en /assets/fonts/ (roboto-slab-400, roboto-slab-700, montserrat-400, montserrat-700) */

@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/roboto-slab-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/roboto-slab-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}